.c-1-color {
    background: #3fb8af !important;
}
/*.c-1-color { background: blue; }*/
.c-2-color {
    background: yellow !important;
}

.handle-disabled.noUi-handle:before {
    content: none !important;
}

.handle-disabled.noUi-handle:after {
    content: none !important;
}

.handle-disabled {
    width: 20px !important;
}

.noUi-tooltip {
    border-radius: 10px !important;
}

.row.margin-top {
    margin-top: 25px;
}

.align-end {
    text-align: end;
}